<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="icon" href="/img/cloudy.png">
    <title>{{title}}</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <div id="about">
            <h3>Backend web developer</h3>
            <h4>This site created with Node.js and uses data from openweathermap.org</h4>
        </div>
        <img src="/img/me.jpg" alt="my image" class="me">
    </div>
    
    {{>footer}}
    <script src="js/app.js"></script>
</body>
</html>